
<p>

    This nuget is designed for .net core applications to have a simplified access to
    the errors set using NetCore.ModelValidation.Core. The controller class is provided with extension
    functions that would directly append all requested error messages to the <i>ModelState</i> and override them.
    For more information on how to manage error messages using NetCore.ModelValidation.Core check
    <a target="_blank" href="~/NetCore.ModelValidation.Core">this documentation</a>
</p>

<p>
    This function <i>UpdateValidations()</i> would update the selected error messages into the <i>ModelState</i>
</p> 