@model IEnumerable<Package>

@{
    ViewData["Title"] = "Home";
}


<div class="card-columns move-top">
    @foreach (var package in Model)
    {
        <partial name="_PackageDisplay" model="package" />
    }
</div>

