
.move-top
{
    margin-top: 35px;
}

.btn-search
{
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
}

/* git hub social */

.btn-social 
{
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-github 
{
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}
