<MainSection Title="Razer Tag Helpers" Id="taghelper" Icon="fa-tags">

    <Content>

        <p>
            For using the tag helper, first the tag helper needs to be imported in the ViewImports.cshtml using the
            following code:
        </p>

        <CSharp>
            @@addTagHelper *, NetCore.Azure.Blob
        </CSharp>

        <p>
            The attribute <code>azure-src</code> can be used in place of <code>src</code> in any razor view.
        </p>

        <CSharp>
            &lt;img azure-src="containerName/filename.jpg" />
        </CSharp>

        <p>
            The above code is converted into the following using the account name provided in startup:
        </p>

        <CSharp>
            &lt;img src="https://accountName.blob.core.windows.net/containerName/filename.jpg" />
        </CSharp>

        <p>
            This not only helps simplify the code without requiring the entire URL each time, but makes the code portable.
            When migrating to a different blob storage account with a different account name, no updates in the view would
            be required.
        </p>

    </Content>

</MainSection>