
<p>
    A token can be generated within any service by injecting <code>IBearerManager</code>. With this service, you can 
    generate a new token with just the username (and/or roles), by passing in the claims or by passing the whole
    claims identity.
</p>

<csharp>
    bearerManager.Generate("myUserName");
    bearerManager.Generate("myUserName", new string[]{ "admin" });
    bearerManager.Generate(new Claim[]{  });
    bearerManager.Generate(myClaimIdentity);
</csharp>

<p>
    All above overloads also work as an extension function <code>GenerateBearerToken</code> for the <code>HttpContext</code>.
</p>