<p>
    This package allows you to manage error validations across services. These errors can be added and retrieved in
    the following ways:
</p>

<ol>
    <li>A simple error not mapped to anything</li>
    <li>
        An error mapped to a string (a key) which is expected to be the property name. Helper functions
        also allow you to pass the key as lamda expressions for safety.
    </li>
    <li>
        Error messages can also be mapped to a model (an object). Furthermore, messages can be mapped to a model 
        and it's property (a string), which can once again be used with the help of lamda expressions. 
    </li>
</ol>

<p>
    These errors can be managed across services for the current scope with dependency injection. This 
    provides flexability to assign validation errors in the business logic, verify them in unit tests and 
    produce them in .net core web apps with the help of the <i>NetCore.ModelValidation</i> package. 
</p>


