
<MainSection Title="Basics" Id="basics">

    <Content>


        Following are the key features NetCore.Angular provides on razor pages:

        <ul>
            <li>Providing intellisense of the c# model's properties when using basic angular tags</li>
            <li>Allows to directly add data from the c# model to the angular's scope</li>
            <li>HTML form events to run common processes without any javascript</li>
            <li>Swapable HTML dom elements that would swap visibilities based on certain events</li>
        </ul>

        <p>

            Through this documentation we will consider the following c# models for examples.


            To use this view model with angular, assign the ViewModel as the model of the current razor page

            <pre><code>@@model AngularViewMOdel</code></pre>

        </p>
    </Content>

</MainSection>