<MainSection Title="Common Directives" Id="directives">

    <Description>
        <p>
            NetCore.Angular allows several angular directives when you use <b>ang</b> instead of <b>ng</b>.
            Using "ang" inside a dom element in a razor page would give you a list of all available
            tag helpers relating to angular directives. The following is an example of using <i>ng-bind</i>.
        </p>
    </Description>

</MainSection>