@page "/"

<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Documentation</h1>
        <div class="page-intro single-col-max mx-auto">Everything documented on my nugets...</div>
        <div class="main-search-box pt-3 d-block mx-auto">
            <div class="search-form w-100">
                <input type="text" placeholder="Search the docs..." @bind=Query @bind:event="oninput" class="form-control search-input">
                <button type="submit" class="btn search-btn" value="Search">
                    <i class="fas fa-search" />
                </button>
            </div>
        </div>
    </div>
</div><!--//page-header-->


<div class="page-content">
    <div class="container">
        <div class="docs-overview py-5">
            <div class="row justify-content-center">

                @if (displaying is null)
                {
                    <div>Loading packages...</div>
                }
                else
                {
                    @foreach (var package in displaying)
                    {

                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">
                                        <span class="card-title-text" title="@package.Name">@package.Name</span>
                                    </h5>
                                    <div class="card-text">
                                        @package.Description
                                        <partial name="_Install" model="Model" />
                                    </div>
                                    @if (package.GitRepo != null)
                                    {
                                        <a class="btn btn-github" href="@package.GitUrl">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    }
                                    @if (package.HasDocumentation)
                                    {
                                        <a class="btn btn-github" href="documentation/@package.Name.Replace(".", "_")">
                                            <i class="fas fa-book"></i>
                                        </a>
                                    }
                                    @*<a class="card-link-mask" href="~/@Model.Name"></a>*@
                                </div><!--//card-body-->
                            </div><!--//card-->
                        </div><!--//col-->
                    }
                }

                @*@foreach (var package in Model)
                    {
                        <partial name="_PackageDisplay" model="package" />
                    }*@
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//container-->
</div><!--//page-content-->


<div class="card-columns move-top">
    @*@foreach (var package in Model)
        {
            <partial name="_PackageDisplay" model="package" />
        }*@
</div>

