
<p>
    The <i>NetCore.Azure.Blob</i> package allows you to perform basic uploads to an azure blob storage by 
    avoiding boilerplate codes and by using dependency injections. The setup is as simple as adding the connection 
    configurations into the start up class and injecting the <i>IBlobManager</i>. 
</p>