
@if (HasDocumentationEnabled(Document))
{
    <a href="documentation/@Document.Replace('.', '_')" target="_blank">@Document</a>
}
else
{
    <a href="https://www.nuget.org/packages/@Document" target="_blank">@Document</a>
}