

<article class="docs-article" id="section-2">

    <header class="docs-header">
        <h1 class="docs-heading">@Title</h1>
        <section class="docs-intro">
            @Description
        </section><!--//docs-intro-->
    </header>

    <CascadingValue Name="parentSection" Value=currentItem>
        @Content
    </CascadingValue>


</article>