<MainSection Heading="Simple Error" Id="error">

    <Content>

        <p>
            A simple error would just be a string that isn't mapped to any model or key. These can
            be added as a simple string.
        </p>

        <CSharp>modelValition.AddError("A simple error has occurred")</CSharp>

        <p>
            This code basically adds an error with it's key as an empty string. All such errors
            can be accessed with the <i>GetErrors</i> function.
        </p>

        <CSharp> simpleErrors = modelValidation.getErrors("");</CSharp>

        <p>
            This provides an IEnumerable of all strings with the key as an empty string.
        </p>
    </Content>
</MainSection>