

@foreach (var item in MenuListing)
{
    <li class="nav-item section-title">
        <a class="nav-link scrollto active" href="#section-1">
            <span class="theme-icon-holder mr-2"><i class="fas fa-map-signs"></i></span>@item.Text
        </a>
    </li>
}