
<MainSection Title="Introduction" Id="intro" Icon="fa-info">

    <Description>

        <p>
            The nuget package <NugetLink Name="CodeGeneratorHelpers.Core" /> provides helper functions to aid with code generation using a console app.
            These functions primary provide the following functionalities:

            <ul>

                <li>
                    <strong>Finding project location:</strong>
                    It can often be tricky to get the path of the target project relative to the executing console app. 
                    This is partly because the execution path varies based on how the console app is executed. 
                    For this reason, the library simplifies the process of accessing a target project.
                </li>

            </ul>
        </p>

        <h2>Quick Sample:</h2>

        <p>
            Let's consider you have the target project named <b>MyProject</b> and would like to create a console app named <b>MyCodeGeneration</b> for code generation.
            You can use the following CLI commands to setup the new console app:
        </p>

        <CodeBlock>
dotnet new console -o MyCodeGeneration
cd MyCodeGeneration
dotnet add package CodeGeneratorHelpers.Core
        </CodeBlock>

        <p>In your console app you can use the following:</p>

        <CSharp>
var generator = CodeGenerator.Create("CodeGeneratorHelpers.Core")
await generator.ExecuteOnEachFileAsync(execution: meta 
        => generator.WriteAllTextToFileAsync($"{meta.SourceFilePath}.txt", $"Found {meta.Classes?.Count() ?? 0} classes"));
        </CSharp>


    </Description>

</MainSection>

