
<MainSection Title="Introduction" Id="intro" Icon="fa-info">

    <Description>

        <p>

            The nuget package <NugetLink Name="CodeGeneratorHelpers.Core" /> provides helper functions to aid with code generation.
            It includes utilities to extract metadata (such as classes and interfaces) from C# files and write into files.

        </p>

    </Description>

</MainSection>

