
<p>
    <i>NetCore.Apis.Client.UI</i> extends the functionalities of <i>NetCore.Apis.Consumer</i>
    to the UI. Most of the functionalities of this library currently revolves around
    the model handler concept. A <i>ModelHandler</i> class helps create a two way bind between a class
    and UI components. The model handler can also be bound to UI components in order to display errors.
    It can basically send data from the UI components as an object, read an <i>ApiConsumedResponse</i> 
    object and print the errors (if any) on the UI.
</p>