@model Package

<a class="card-link" data-toggle="collapse" href="#cli-@Model.Id">
    Command line...
</a>
<div id="cli-@Model.Id" class="collapse">

    <pre><b>.NET CLI:</b><code class="ps">dotnet new package @Model.Name</code></pre>
    <pre><b>Package manager:</b><code class="ps">Install-Package @Model.Name</code></pre>
    <pre><b>Git:</b><code class="ps">@Model.GitClone</code></pre>
</div>