@page "/documentation/Net2Linux"

@if (!isSubmitted)
{
    <h3>What is your project type?</h3>

    <EnumButtons TEnum="DotNetProjectType" SelectedEnum=State.ProjectType OnSelectionChanged=SelectProjectType />

    <h3>First time setting up this VM?</h3>

    <EnumButtons TEnum="VmSetupType" SelectedEnum=State.SetupType OnSelectionChanged=SelectSetupType />

    @if (State.ProjectType is not null && State.SetupType is not null)
    {
        <div>
            <button class="btn btn-success" @onclick=Submit>Submit</button>
        </div>
    }
}
else
{
    <VmSetup />

    <Pipeline />
    <Nginx />
    <Certbot />
}
