@page "/documentation/Net2Linux"


<h3>What is your project type?</h3>

<EnumButtons TEnum="DotNetProjectType" SelectedEnum=projectType OnSelectionChanged=SelectType />

<h3>First time setting up this VM?</h3>

<EnumButtons TEnum="DotNetProjectType" IsVertical=true />

