@page "/documentation/Net2Linux"

@if (!isSubmitted)
{
    <h3>What is your project type?</h3>

    <EnumButtons TEnum="DotNetProjectType" SelectedEnum=State.ProjectType OnSelectionChanged=SelectProjectType />

    <h3>First time setting up this VM?</h3>

    <EnumButtons TEnum="VmSetupType" SelectedEnum=State.SetupType OnSelectionChanged=SelectSetupType />

    @if (State.ProjectType is not null && State.SetupType is not null)
    {
        <div>
            <button class="btn btn-success" @onclick=Submit>Submit</button>
        </div>
    }
}
else
{

    <LeftNav>

        <li class="list-inline-item">

            <div class="btn-group">
                <button @onclick=@(() => JS.ToggleDropdownAsync("project-type-drop")) type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    @(GetSummary<DotNetProjectType>(State.ProjectType.Value))
                </button>
                <ul class="dropdown-menu" id="project-type-drop">
                    @foreach (var val in Enum.GetValues<DotNetProjectType>())
                    {
                        <li><a class="dropdown-item" href="#">@(GetSummary<DotNetProjectType>(val))</a></li>
                    }
                </ul>
            </div>

        </li>

        <li class="list-inline-item">

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    @(GetSummary<VmSetupType>(State.SetupType.Value))
                </button>
                <ul class="dropdown-menu">
                    @foreach (var val in Enum.GetValues<VmSetupType>())
                    {
                        <li><a class="dropdown-item" href="#">@(GetSummary<VmSetupType>(val))</a></li>
                    }
                </ul>
            </div>

        </li>

    </LeftNav>


    <VmSetup />

    <Pipeline />
    <Nginx />
    <Certbot />
}
