 @inject Net2LinuxState State


<MainSection Id="pipelineSetup" Heading="Pipeline setup">

    <Description>

        <p>
            Once dotnet is installed, you can now setup the CI/CD pipeline to deploy your
            app onto the VM. To being creating your pipeline, create a new YAML file inside your git repository.
            For instance, in the root folder, you can create a file pipelines/deploy.yaml.

        </p>

        <p>
            To begin creating your pipeline, set the latest Linux agent as the default pool.

            <YAML>
pool:
  vmImage: ubuntu-latest
            </YAML>

        </p>

    </Description>

    <Content>

        <SubSection Id="pipelineBuild" Heading="Build">

            <p>

                For the build process, we first make sure we compile the .NET app.
                We then compress the binaries into .tar.gz file since it is natively supported by Linux.
                Once the compressed file is created, we can then publish it as an artiface for future stages to use them.
            </p>

            <p>
                Here is how the entire stage should look:
            </p>


            <YAML>

                - stage:
                  displayName: Building .NET app
                  jobs:

                  - job: Compile
                    steps:

                    - script: |
                        dotnet publish $(projectPath) -c release -o published
                        mkdir -p compressed
                        tar -czf compressed/$(projectName).tar.gz -C published .
                      displayName: Generating and compressing binaries

                    - publish: compressed
                      displayName: Publish for release
                      artifact: published

            </YAML>

        </SubSection>

        <SubSection Id="pipelineDeploy" Heading="Deploy">

        </SubSection>

    </Content>

</MainSection>