@model SearchResults

@{
    ViewData["Title"] = "Results";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title float-left">Packages</h3>
        <a class="float-right" href="#package-results" data-toggle="collapse">Expand/Collapse</a>
    </div>
    <div class="card-body collapse show" id="package-results">
        <div>
            @foreach (var package in Model.Packages)
            {
                <partial name="_PackageDisplay" model="package" />
            }
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title float-left">Gits</h3>
        <a class="float-right" href="#git-results" data-toggle="collapse">Expand/Collapse</a>
    </div>
    <div class="card-body collapse show" id="git-results">
        @foreach (var gits in Model.GitRepos)
        {
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@gits.Key</h4>
                    @foreach (var p in gits.Value)
                    {
                        <partial name="_PackageDisplay" model="p" />
                    }
                </div>
            </div>
        }

    </div>
</div>