@page "/documentation/NetCore_Jwt"

<div>
    Hello,
    I am docs
</div>

<MainSection Title="Hello worlds" MenuText="Bye earth" Id="bats" Icon="fa-battery-full">
    <Description>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
        <p>Batman</p>
    </Description>

    <Content>
        <p>Here is a <b>Sample</b> text</p>
    </Content>

</MainSection>

<MainSection MenuText="Other Menu" Id="sups" Icon="fa-cat">

    <Content>
        
        <SubSection Heading="Batting" MenuText="Sub menu testing" Id="batting">
            <p>Hello <b>work</b></p>
        </SubSection>

    </Content>

</MainSection>